*{
    margin:0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
    padding-top:0;
}

.header_left{
    flex:0.8;
    padding-left: 5%;
}

.header_left >h1{
    color:red;
    font-size: 2rem;
    padding: 10px;
  }

.header_left>h4{
    color:indianred;
    padding:10px;
    padding-top: 0;
}
  
.header_right{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-grow: 0.1;
    padding-right: 2%;
  }

  @media (max-width: 990px){
    .header_right{
        flex-direction: column;
    }
    .header_left >h1{
        font-size:x-large;
        text-align: left;
        font-weight:900;
    }
    .header_left >h4{
        font-size: small;
        font-weight: bolder;
        text-align:center;
    }
  }
